<template>
    <div class="importwallet">
         <!-- 导入钱包 -->
        <div class="ite">
            <div class="title">导入钱包</div>
            <div class="importtype">
                <div style="padding:10px 0;">导入类型：</div>
                <el-select v-model="typeValue" placeholder="请选择导入类型">
                    <el-option
                    v-for="item in typesArr"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
                <div class="zjc" v-show="typeValue==0">
                    <div style="display:flex;">
                        <div style="margin-right:25px;">
                            <p style="padding:10px 0;">导入钱包地址个数：</p>
                            <el-input
                                type="number"
                                class="item_input"
                                placeholder="输入导入钱包地址个数"
                                v-model.trim="addressNumber">
                            </el-input>
                        </div>
                        <div>
                            <p style="padding:10px 0;">助记词对应的钱包地址的起始index：</p>
                            <el-input
                                type="number"
                                class="item_input"
                                placeholder="输入钱包地址(私钥)的index"
                                v-model.trim="inputAddressIndex">
                            </el-input>
                        </div>
                    </div>
                    <div style="width:300px;padding-top:10px;">
                        <div style="padding:10px 0;">助记词：</div>
                        <el-input
                            type="textarea"
                            :rows="3"
                            placeholder="请输入助记词"
                            @input="regMnemonic"
                            v-model="textareaMnemonic">
                        </el-input>
                    </div>
                    <el-button type="primary" style="margin-top:20px;" @click="handleImportMnemonic">确定导入</el-button>
                </div>
                <div class="sy" v-show="typeValue==1">
                    <div >
                        <div style="padding-bottom:10px;">私钥：</div>
                        <el-input
                            type="textarea"
                            :rows="3"
                            placeholder="请输入私钥"
                            @input="regPrivatekey"
                            v-model="textareaPrivatekey">
                        </el-input>
                    </div>
                    <el-button type="primary" style="margin-top:94px;" @click="handleImportPrivate">确定导入</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {Wallet, WalletManager, WiccApi,bitcore} from 'wicc-wallet-lib'
import { NETTYPE } from '@/tools/config.js'
export default {
    data(){
        return {
            timer:null,
            loading:"",
            typesArr:[{value:0,label:'助记词'},{value:1,label:'私钥'}],
            typeValue:0,
            addressNumber:1,
            inputAddressIndex:0,
            textareaMnemonic:'',
            textareaPrivatekey:'',
           
        }
    },
    methods: {
        handleImportMnemonic(){
            
            this.textareaMnemonic = this.textareaMnemonic.trim()
            let nm = String(this.inputAddressIndex).indexOf(".") + 1
            let allnum = String(this.addressNumber).indexOf(".") + 1
            if(nm>0 || this.inputAddressIndex<0){
                this.$message.error('助记词对应的钱包地址的起始index不能为负数或者小数');
                    return
            }
            if(allnum>0 || this.addressNumber<1){
                this.$message.error('导入的钱包地址数量不能小于1或者小数');
                    return
            }
            if(!this.textareaMnemonic){
                this.$message.error('助记词不能为空');
                    return
            }
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            this.timer = setTimeout(()=>{
                //环境初始化
                var arg = { network: NETTYPE }
                var wiccApi = new WiccApi(arg)
                //检查助记词是否有效
                var ret = wiccApi.checkMnemonicCode(this.textareaMnemonic)
                if(!ret){
                    this.loading.close();
                    this.$message.error('请输入正确的助记词');
                    return
                }
                var lang = wiccApi.getMnemonicCodeLanguage(this.textareaMnemonic)
                var resultMnemonic = ''
                if(lang=='CHINESE'){
                    resultMnemonic = wiccApi.switchMnemonicCode(this.textareaMnemonic, "ENGLISH")
                }else{
                    resultMnemonic = this.textareaMnemonic
                }
                let childArr = []
                let walletInfo = wiccApi.createWallet(resultMnemonic, '12345678')

                let jishu = this.inputAddressIndex-0
                let hdPrivateKey,privateKey,pubKey,address;
                for(var i=0;i<this.addressNumber;i++){

                     hdPrivateKey = wiccApi.getHDPriKeyFromSeed(walletInfo.seedinfo, '12345678', jishu)//siyao
                     privateKey = bitcore.PrivateKey.fromWIF(hdPrivateKey)
                     pubKey=privateKey.toPublicKey(); //公钥
                     address = privateKey.toAddress();
                     
                     childArr.push({indexaddress:jishu,address:address.toString(),publickey:pubKey.toString(),address_name:'匿名地址',wallet_name:'钱包'})

                    ++jishu
                }
               
                
                let importMnemonicObj = {
                    mnemonic:resultMnemonic,
                    childArr:childArr
                }
                
                this.importKeyMethods(importMnemonicObj)
            },30)
        },
        handleImportPrivate(){
            if(!this.textareaPrivatekey){
                this.$message.error('私钥不能为空');
                    return
            }
            //环境初始化
            var walletManager = new WalletManager(NETTYPE)
            try{
                var wallet = walletManager.importWalletFromPrivateKey(this.textareaPrivatekey)
            }catch(e){
                this.$message.error('请输入正确的私钥');
                return
            }
            //私钥存入数据库 则无法定位indexaddress 故也允许存为空。
             let getlist = JSON.parse(sessionStorage.getItem('ADDRESS_LIST'))
             let nameidx = getlist.length+1
            //推出公钥、地址
            var privateKey = bitcore.PrivateKey.fromWIF(this.textareaPrivatekey)
            var pubKey=privateKey.toPublicKey(); //公钥
            var address = privateKey.toAddress();
            let importPrivateObj = {address:address.toString(),privatekey:this.textareaPrivatekey,publickey:pubKey.toString(),address_name:'匿名地址',wallet_name:`钱包p${nameidx}`}
            //console.log(importPrivateObj)

            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

            this.timer = setTimeout(()=>{
                this.importKeyMethods(importPrivateObj)
            },50)
           
        },
        importKeyMethods(importKeyObj){
             this.$http.post("/api/moreimportkeys",{importKeyObj:importKeyObj}).then(res => {
                this.loading.close();
                if(res.code==0){
                    this.$emit('freshAddressList',false)
                    this.typeValue = 0
                    this.inputAddressIndex = 0
                    this.addressNumber = 1
                    this.textareaMnemonic = ''
                    this.textareaPrivatekey = ''
                    this.$message({
                        message: '钱包导入成功！',
                        type: 'success'
                    });
                }else{
                    this.$message.error(res.msg);
                }
            }).catch(err=>{
                this.loading.close();
            })
        },
        regMnemonic(val){
                this.textareaMnemonic = val.replace(/\s+/g, ' ')
        },
        regPrivatekey(val){
            this.textareaPrivatekey = val.replace(/\s+/g,"")
        },
    },
    beforeDestroy(){
        clearTimeout(this.timer)
        this.timer = null
    }
}
</script>
<style scoped>
.importwallet{
    padding:0 10px;
    box-sizing: border-box;
    padding-bottom:10px;
}
.ite{
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.title{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 15px;
}
.item_input{
    width: 220px;
}
.importtype .zjc{
    padding-top: 10px;
}
.sy{
    width: 400px;
    padding-top: 30px;
}
.ite >>> .el-button--primary{
    font-size: 16px;
}
</style>