<template>
    <div class="manage-wallet">
        <el-tabs :tab-position="tabPosition" style="height: 100%;">
            <el-tab-pane label="当前账户信息">
                <walletinfo ref="walletinfo" @freshAddressList="getAddressList" :addressList="addressList" ></walletinfo>
            </el-tab-pane>
            <el-tab-pane label="创建钱包">
                <createwallet @freshAddressList="getAddressList"></createwallet>
            </el-tab-pane>
            <el-tab-pane label="导入钱包">
                <importwallet @freshAddressList="getAddressList"></importwallet>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
import walletinfo from './walletinfo'
import createwallet from './createwallet'
import importwallet from './importwallet'
export default {
    components:{
        walletinfo,
        createwallet,
        importwallet
    },
    data(){
        return{
            tabPosition: 'left',
            addressList:[],
            
        }
    },
    methods:{
        getAddressList(createorimport){
          this.$http.get("/api/addresslist").then(res => {
                let datarr = res.data.data
                //console.log("datarr=>",datarr)
                if(datarr.length>0){
                    let list = [];
                    let idx = -1
                    let lastAddressInfo = {value:1,chidIdx:0} //最后一个地址属于哪个账户
                    datarr.map((ele,index)=>{
                        
                        var settleDt = ele.mnemonic_id;

                        //debugger
                        if(list.length<=0 || ele.import_type=="private"){//第一次，或者为私钥时为单独的账户
                            if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = index-idx
                                lastAddressInfo.chidIdx = 0
                            }
                            list.push({
                                value:ele.wallet_name,
                                label:ele.wallet_name,
                                jnum:index-idx,
                                mnemonic_id:settleDt,
                                children:[{value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type}]
                            })
                            return;
                        }
                        let child = list.find((item,chiidx)=>{
                            return item.mnemonic_id == settleDt
                        })
                        if(child){
                            ++idx
                            child.children.push({value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type})
                            
                            if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = child.jnum
                                child.children.map((adres,adindex)=>{
                                    if(adres.value==datarr[datarr.length-1]['address']){
                                        lastAddressInfo.chidIdx = adindex
                                    }
                                })
                            }
                            
                        }else{
                             if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = index-idx
                                lastAddressInfo.chidIdx = 0
                            }
                            list.push({
                                value:ele.wallet_name,
                                label:ele.wallet_name,
                                jnum:index-idx,
                                mnemonic_id:settleDt,
                                children:[{value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type}]
                            })
                        }
                    })
                    
                    this.handleListOrder(list,lastAddressInfo,createorimport)

                }
            });
        },
        minSort(arr) {
            var min
            for (var i = 0; i < arr.length; i++) {
                for (var j = i; j < arr.length; j++) {
                    if (arr[i].addressIndex > arr[j].addressIndex) {
                        min = arr[j]
                        arr[j] = arr[i]
                        arr[i] = min
                    }
                }
            }
            return arr
        },
        handleListOrder(list,lastAddressInfo,createorimport){
            let orderList = []
            list.map((item)=>{
                item.children = this.minSort(item.children)
            })
            sessionStorage.setItem('ADDRESS_LIST',JSON.stringify(list))
            this.addressList = list

            if(createorimport){
                if(createorimport=='edit'){
                    this.$refs.walletinfo.handleEditFresh(this.addressList)
                }else{
                    this.$refs.walletinfo.handleSessionInfoData(this.addressList,0,0)
                }
                
            }else{
                this.$refs.walletinfo.handleSessionInfoData(this.addressList,lastAddressInfo.value-1,lastAddressInfo.chidIdx)
            }
        }
    },
    mounted() {
        let getlist = JSON.parse(sessionStorage.getItem('ADDRESS_LIST'))
       
        if(getlist){
            this.addressList = getlist
            this.$refs.walletinfo.getSessionStorageData()
        }else{
            this.getAddressList(true)
        }
        
       

    },
}
</script>
<style scoped>
.manage-wallet >>> .el-tabs__item{
    height:100px;
    line-height: 100px;
}
.manage-wallet >>> .el-tabs--left .el-tabs__header.is-left{
   margin-right: 40px;
}

</style>