@charset "utf-8";
html {
    -webkit-tap-highlight-color: transparent;
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
    margin: 0;
    padding: 0
}

body,
input,
textarea,
button,
pre,
xmp,
tt,
code,
kbd,
samp {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button {
    font-size: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: normal
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left
}

caption,
th {
    text-align: inherit
}

ul,
ol,
menu {
    list-style: none
}

fieldset,
img {
    border: 0
}

object,
input,
textarea,
button,
select {
    vertical-align: middle
}

article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "\0020"
}

textarea {
    overflow: auto;
    resize: vertical
}

input,
textarea,
button,
a {
    outline: 0 none;
    border: none;
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

mark {
    background-color: transparent
}

a,
ins,
s,
u,
del {
    text-decoration: none
}

sup,
sub {
    vertical-align: baseline
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    position: relative;
    height: 100%;
    min-width: 1340px;
}

#app {
    height: 100%;
}

a {
    color: #656565;
    text-decoration: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* color: rgba(255,255,255,0.4); */
    font-weight: 400;
    font-size: 13px;
}

input,
textarea {
    caret-color: #f37f45;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: #fff;
    color: #242628;
    font-family: "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

pre {
    font-family: "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
}