<template>
    <div class="lock">
        <div class='password'>
            <div class="cicle">
                <img src="@/assets/images/check.svg" />
            </div>
            <div class="input_login">
                <div class="input-box"><el-input type="password" v-model="inputpsd" placeholder="请输入锁屏密码"></el-input></div>
                <div class="confirm" @click="handleLogin"><img src="@/assets/images/login.svg" /></div>
            </div>
            <p @click="handleSetWord">设置密码</p>
        </div>
        <el-dialog
            title="请重新设置密码"
            :close-on-click-modal="false"
            :visible.sync="passwordVerifyVisible"
            width="30%"
            >
            <div class="ite">
                <p>输入密码：</p>
                <el-input v-model.trim="userpwd" type="password" placeholder="请输入原密码"></el-input>
            </div>
            <div class="ite">
                <p>设置新密码：</p>
                <el-input v-model.trim="resetpwd" type="password" placeholder="请设置新密码"></el-input>
            </div>
            <div class="ite">
                <p>再次确认密码：</p>
                <el-input v-model.trim="resetconfirmpwd" type="password" placeholder="请再次确认新密码"></el-input>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="passwordVerifyVisible = false">取 消</el-button>
                <el-button type="primary" @click="resetPassWord">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return {
            inputpsd:'',
            passwordVerifyVisible:false,
            userpwd:'',
            resetpwd:'',
            resetconfirmpwd:''

        }
    },
    methods:{
        handleLogin(){
            if(!this.inputpsd){
                this.$message.error('请输入锁屏密码');
                return
            }
            let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            let psotdata = {
                password:this.inputpsd
            }
            this.$http.post("/api/login",psotdata).then(res => {
                loading.close()
                if(res.code==0){
                    this.passwordVerifyVisible = false
                    sessionStorage.setItem('token',true)
                    this.$router.push('/')
                }else{
                    this.$message.error(res.msg);
                }
            }).catch((err)=>{
                 loading.close()
            })

            
        },
        handleSetWord(){
            this.passwordVerifyVisible = true
        },
        resetPassWord(){
            if(!this.userpwd){
                this.$message.error('请输入原密码');
                 return
            }
            if(!this.resetpwd){
                this.$message.error('请设置新密码');
                 return
            }
            if(this.resetpwd!=this.resetconfirmpwd){
                this.$message.error('两次输入密码不一致');
                 return
            }
            let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            let psotdata = {
                password:this.userpwd,
                resetpassword:this.resetpwd
            }
            this.$http.post("/api/resetPwd",psotdata).then(res => {
                loading.close()
                if(res.code==0){
                    sessionStorage.setItem('token',true)
                    this.$router.push('/')
                }else{
                    this.$message.error(res.msg);
                }
            }).catch((err)=>{
                 loading.close()
            })

           

        },
        //最先初始化
        getAddressList(){
            
          this.$http.get("/api/addresslist").then(res => {
                let datarr = res.data.data
                //console.log("datarr=>",datarr)
                if(datarr.length>0){
                    let list = [];
                    let idx = -1
                    let lastAddressInfo = {value:1,chidIdx:0} //最后一个地址属于哪个账户
                    datarr.map((ele,index)=>{
                        
                        var settleDt = ele.mnemonic_id;

                        //debugger
                        if(list.length<=0 || ele.import_type=="private"){//第一次，或者为私钥时为单独的账户
                            if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = index-idx
                                lastAddressInfo.chidIdx = 0
                            }
                            list.push({
                                value:ele.wallet_name,
                                label:ele.wallet_name,
                                jnum:index-idx,
                                mnemonic_id:settleDt,
                                children:[{value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type}]
                            })
                            return;
                        }
                        let child = list.find((item,chiidx)=>{
                            return item.mnemonic_id == settleDt
                        })
                        if(child){
                            ++idx
                            child.children.push({value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type})
                            
                            if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = child.jnum
                                child.children.map((adres,adindex)=>{
                                    if(adres.value==datarr[datarr.length-1]['address']){
                                        lastAddressInfo.chidIdx = adindex
                                    }
                                })
                            }
                            
                        }else{
                             if(ele.address==datarr[datarr.length-1]['address']){
                                lastAddressInfo.value = index-idx
                                lastAddressInfo.chidIdx = 0
                            }
                            list.push({
                                value:ele.wallet_name,
                                label:ele.wallet_name,
                                jnum:index-idx,
                                mnemonic_id:settleDt,
                                children:[{value:ele.address,jnum:index-idx,address_name:ele.address_name,label:`${ele.mnemonic_offset} - ${ele.address} (${ele.address_name}) `,mnemonic_id:ele.mnemonic_id,addressIndex:ele.mnemonic_offset,importType:ele.import_type}]
                            })
                        }
                    })

                    this.handleListOrder(list)
                    
        
                }
            });
        },
        minSort(arr) {
            var min
            for (var i = 0; i < arr.length; i++) {
                for (var j = i; j < arr.length; j++) {
                    if (arr[i].addressIndex > arr[j].addressIndex) {
                        min = arr[j]
                        arr[j] = arr[i]
                        arr[i] = min
                    }
                }
            }
            return arr
        },
        handleListOrder(list){
            let orderList = []
            list.map((item)=>{
                item.children = this.minSort(item.children)
            })
            sessionStorage.setItem('ADDRESS_LIST',JSON.stringify(list))
            let selectValue = []
            selectValue.push(list[0]['value'])
            selectValue.push(list[0]['children'][0]['value'])
            let initSelect = list[0]['children'][0]
            sessionStorage.setItem('SELECT_VALUE',JSON.stringify(selectValue))
            sessionStorage.setItem('INIT_SELECT',JSON.stringify(initSelect))
        }
    },
    mounted() {
        document.onkeydown = (e)=> {
            let key = window.event.keyCode;
            if (key == 13) {
                this.handleLogin()
            }
        };
        let getlist = JSON.parse(sessionStorage.getItem('ADDRESS_LIST'))
        if(!getlist){
          this.getAddressList()
        }
    },
}
</script>
<style scoped>
.lock{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, rgba(64, 158, 255, 0.8) 0%, rgba(25, 137, 250, 0.8) 40%, #81a7cd 100%);
}
.password{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.password p{
    padding:10px 0;
    cursor: pointer;
    font-size: 16px;
    color:#333;
    text-decoration:underline;
}
.password .cicle{
    margin-left: 30px;
    padding: 30px;
    width:100px;
    height:100px;
    border-radius: 50% 50%;
    background:#efefef;
}
.password img{
    width:100px;
    height:100px;
}
.ite{
    padding-bottom:15px;
}
.ite p{
    padding-bottom: 10px;
}
.input_login{
    margin-top:20px;
    display: flex;
}
.confirm{
   height:40px;
   width:40px;
   background: #eee;
   border-radius: 50% 50%;
   cursor: pointer;
   margin-left: 20px;
}
.confirm img{
   
    width:40px;
    height:40px;
}
</style>