<template>
    <div class="allexchange">
         <el-tabs :tab-position="tabPosition" style="height: 100%;">
            <el-tab-pane label="转账">
              <transfer :addressValue="addressValue" :walletName="walletName" :amountSawList="amountSawList" :amountSawValueIndex="amountSawValueIndex"></transfer>
            </el-tab-pane>
            <el-tab-pane label="投票">
              <vote  :addressValue="addressValue" :walletName="walletName"></vote>
            </el-tab-pane>
            <el-tab-pane label="撤销投票">
              <votecancel  :addressValue="addressValue" :walletName="walletName"></votecancel>
            </el-tab-pane>
            <el-tab-pane label="CDP抵押">
              <cdpcreate  :addressValue="addressValue" :walletName="walletName"></cdpcreate>
            </el-tab-pane>
            <el-tab-pane label="CDP再抵押">
              <cdpadd  :addressValue="addressValue" :walletName="walletName"></cdpadd>
            </el-tab-pane>
            <el-tab-pane label="CDP抵押赎回">
              <cdpredeem  :addressValue="addressValue" :walletName="walletName"></cdpredeem>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
import transfer from './transfer'
import vote from './vote'
import votecancel from './votecancel'
import cdpcreate from './cdpcreate'
import cdpadd from './cdpadd'
import cdpredeem from './cdpredeem'
export default {
    components:{
        transfer,
        vote,
        votecancel,
        cdpcreate,
        cdpadd,
        cdpredeem
    },
    data(){
        return {
            tabPosition: 'left',
            amountSawList:[{
                value: 'WUSD',
                label: 'WUSD'
                }, {
                value: 'WICC',
                label: 'WICC'
                }, {
                value: 'WGRT',
                label: 'WGRT'
            }],
            amountSawValueIndex:'',
            addressValue:'',
            walletName:{name:'',addressname:''}
        }
    },
    methods: {
      getCoinList(){
        this.$http.get("/api/coinlist").then(res => {
            this.amountSawList = []
            let coinarr = res.data.data
            if(res.data){
                  this.amountSawValueIndex = coinarr[0].coin_name
                  coinarr.map((item)=>{
                    this.amountSawList.push({
                      value: item.coin_name,
                      label: item.coin_name
                    })
                  })
                }
        });
      }
    },
    mounted(){
      let selectValue = JSON.parse(sessionStorage.getItem('SELECT_VALUE'))
      let initSelect = JSON.parse(sessionStorage.getItem('INIT_SELECT'))
      this.addressValue = initSelect.value
      this.walletName = {name:`${String(selectValue[0])} / `,addressname:initSelect.address_name}
      this.getCoinList()
    }
}
</script>
<style scoped>

.allexchange >>> .el-tabs__item{
    height:65px;
    line-height: 65px;
}
.allexchange >>> .el-tabs--left .el-tabs__header.is-left{
   margin-right: 40px;
}
</style>