<template>
  <div class="votecancel">
    <h2><i class="el-icon-s-opportunity"></i>撤销投票</h2>
    <div class="content">
        
        <div class="item" >
          发送地址：<span style="font-size:18px;padding:0 5px;">{{walletName.name}}</span>
          <el-input
            v-model="addressValue"
            style="width:330px;"
            class="item_input_address place_inpt"
            placeholder="当前无钱包，请创建或者导入钱包"
            :disabled="true">
          </el-input>
          ({{walletName.addressname}})
        </div>
        <div class="item" >
          最新的区块高度：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入区块高度"
            v-model.trim="nValidHeight">
          </el-input>
        </div>
        <ul class="vote_list">
            <li class="vote_item" v-for="(vot,index) in voteReciveArr" :key="index">
                <div class="vote_item_id">
                    <div style="padding-bottom:5px;">被撤销投票地址的RegId<el-tooltip effect="dark" content="通过区块链浏览器查被投票地址的账户信息，可以获得" placement="top-start">
        <i class="el-icon-question"></i></el-tooltip>：</div>
                    <el-input
                        class="vote_input_id"
                        placeholder="请输入RegId，区块浏览器可查"
                        v-model.trim="vot.srcRegId">
                    </el-input>
                </div>
                <div class="vote_item_amount" >
                    <div style="padding-bottom:5px;">撤销投票数(负数)：</div>
                    <el-input
                        type="number"
                        class="vote_input_amount"
                        placeholder="请输入撤销投票数"
                        v-model.trim="vot.voteValue">
                    </el-input>
                </div>
            </li>
            <div class="add_desc">
                <div class="plus" @click="handlePlusItem"><i class="el-icon-circle-plus-outline"></i></div>
                <div v-show="voteReciveArr.length>1" class="remove" @click="handleRemoveItem"><i class="el-icon-remove-outline"></i></div>
            </div>
        </ul>
        <div class="item" >
          手续费：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入手续费"
            v-model.trim="feeAmount">
          </el-input>
          WICC
        </div>
        <div class="btn">
           <el-button type="primary" @click="handleConfirm" >确定撤销投票</el-button>
        </div>
    </div>
    <el-dialog
      title="手机扫码提交签名上链"
      :visible.sync="qrialogVisible"
      width="30%"
      center>
      <qrCode :cointransferTx="cointransferTx"></qrCode>
      <div style="padding-top:20px;"></div>
    </el-dialog>
  </div>
</template>

<script>
import qrCode from '@/common/qrCode.vue'
export default {
    components: { qrCode },
    props:{
      addressValue:{
        type:String,
        default:""
      },
      walletName:{
        type:Object,
        default:()=>{
          return {name:'',addressname:''}
        }
      }
    },
    data() {
      return {
        cointransferTx:"",
        feeAmount:'0.01',
        qrialogVisible:false,
        nValidHeight:"",
        voteReciveArr:[{
            srcRegId:'',
            voteValue:-1
        }]
        

      }
    },
    methods:{
      handlePlusItem(){
          this.voteReciveArr.push({srcRegId:'',voteValue:-1})
      },
      handleRemoveItem(){
          this.voteReciveArr.pop()
      },
      handleConfirm(){

        if(!this.addressValue){
           this.$message.error('当前无钱包，请创建或者导入钱包');
          return
        }

        if(!this.isRealNum(this.nValidHeight)){
          this.$message.error('请输入数字类型的区块链高度');
          return
        }

        var flag = true
        var nm = 0
        let voteCloneArry = JSON.parse(JSON.stringify(this.voteReciveArr))
        
        voteCloneArry.map((item)=>{
        
            nm = String(item.voteValue).indexOf(".") + 1
            if((nm>0 || item.voteValue>0)&&flag){
                this.$message.error('撤销票数量应该小于0且不能为小数');
                flag = false
                    return
            }
            if(!this.isRealNum(item.voteValue)&&flag){
                this.$message.error('请输入数字类型的撤销投票数');
                flag = false
                return
            }

            if(!item.srcRegId&&flag){
                this.$message.error('请输入所需撤销投票的RegId');
                flag = false
                return
            }

            item.voteValue = item.voteValue*100000000
        })
        if(!flag){
            return
        }

        if(!this.isRealNum(this.feeAmount)){
          this.$message.error('请输入数字类型的矿工费');
          return
        }
        if(this.feeAmount-0<0.01){
          this.$message.error('矿工费不能小于0.01');
          return
        }
        
        this.handleTransfer(voteCloneArry)
      },
      isRealNum(val){
      　　if(val === "" || val ==null){
              return false;
      　　}
          if(!isNaN(val)){　　　　
      　　　 return true; 
      　　}else{ 
      　　　　return false; 
      　　} 
      },
      handleTransfer(voteCloneArry){
          console.log(voteCloneArry)
        let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
        
        let cointransferTxinfo = {
          nTxType: 6,//转账交易类型
          nValidHeight: this.nValidHeight-0,
          fees: (this.feeAmount)*100000000-0,
          userId: '', // sender's regId
          voteLists: voteCloneArry,
          memo: "votecancel",// remark, optional field
          addressValue:this.addressValue
        };

        this.$http.post("/api/votetx",cointransferTxinfo).then(res => {
            loading.close()
             console.log('res==>',res)
            if(res.code==0){
            this.cointransferTx = res.data.data
            this.qrialogVisible = true
            }
              
        }).catch((err)=>{
          loading.close()
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.votecancel{
  padding:25px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-sizing: border-box;
  max-height:470px;
  overflow-y: auto;
}
.votecancel h2{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
h2 i{
  color: #50bfff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}
.votecancel:hover{
  box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}
.item_select{
  width: 400px;
}
.item_select_options{
  width: 250px;
}
.item_select_saw{
  width: 150px;
}
.item_input_address{
  width: 400px;
}
.item_input{
  width: 200px;
}
.item{
  padding-bottom: 25px;
}
.vote_list{
    padding-bottom: 10px;
}
.vote_item{
    display: flex;
    padding-bottom: 15px;
}
.vote_item_id{
    width: 300px;
    padding-right: 25px;
}
.vote_list .add_desc{
    display: flex;
    padding-left: 190px;
    padding-bottom: 20px;
}
.add_desc i{
    color: #50bfff;
  font-size: 24px;
}
.add_desc .remove{
    padding:0 10px;
    cursor: pointer;
}
.add_desc  .plus{
    padding:0 10px;
    cursor: pointer;
}
.btn{
  padding-left: 60px;
  padding-top: 10px;
}
.place_inpt >>> .el-input__inner::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
     color: red;
}
.place_inpt >>> .el-input__inner:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
     color: red;
}
.place_inpt >>> .el-input__inner::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
     color: red;
}
.place_inpt >>> .el-input__inner:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
     color: red;
}
</style>
